/* APP */

body {
  background-color: #f2eccf;
}

a {
  text-decoration: none;
}

.loading {
  color: #003652;
  margin-top: 100px;
  text-align: center;
}

.btn {
  background-color: #fcbf49;
  border: none;
  color: #003652;
}

.btn:disabled {
  background-color: lightgray;
  border: none;
  color: lightslategray;
}

/* HEADER */

.header {
  align-items: center;
  display: flex;
  font-size: 14px;
  height: 58px;
  justify-content: space-around;
  position: fixed;
  top: 0;
  width: 100%;
}

.search-bar {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 70px 20px -40px 20px;
}

.search-input {
  border: 1px solid #003652;
  border-radius: 4px;
  height: 20px;
  padding: 3px 10px;
  width: 300px;
}

.search-radio {
  font-size: 12px;
  margin: 5px;
  margin-left: 13px;
}

.search-btn {
  border-radius: 4px;
  font-size: 14px;
  font-weight: 600;
  height: 20px;
  margin: 0px;
  width: 80px;
}

/* FOOTER */

.footer {
  align-items: center;
  bottom: 0;
  display: flex;
  height: 58px;
  justify-content: space-around;
  position: fixed;
  width: 100%;
}

/* LOGIN */

.login-page {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.login-input {
  border: 1px solid #003652;
  border-radius: 6px;
  font-size: 16px;
  height: 30px;
  margin: 10px;
  padding: 3px 10px;
  width: 240px;
}

.login-btn {
  border-radius: 6px;
  font-size: 20px;
  font-weight: 800;
  height: 50px;
  margin: 20px;
  width: 200px;
}

/* MAIN PAGE RECIPES */

.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 60px 10px 20px 10px;
}

.categories-btn {
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  margin: 3px 6px;
  padding: 5px 0;
  width: 154px;
}

.recipes-display {
  margin: 10px 0 70px 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  background-color: #FBF9EF;
  height: 160px;
  margin: 0 0 6px 0;
  text-align: center;
  width: 161px;
}

.recipe-image {
  width: 100%;
  height: 70%;
}

.title-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 42px;
}

.recipe-title {
  color: #003652;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.0;
  margin: 0;
}

/* RECIPE DETAIL PAGE */

.detailPage {
  margin: 10px 10px 30px 10px;
}

.header-div {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.recommended-recipes {
  display: flex;
  padding: 0;
  width: 100%;
  overflow: auto;
}

/* EXPLORE */

.explore {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 160px 10px 20px 10px;
}

.explore-btn {
  border-radius: 4px;
  font-size: 20px;
  font-weight: 600;
  margin: 20px 20px;
  padding: 5px 0;
  width: 210px;
}

.explore-ingredients {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 60px 10px 60px 10px;
}

.ingredient-card {
  height: 120px;
  margin: 10px;
  width: 150px;
}

.ingredient-title {
  color: #003652;
  font-weight: 600;
  line-height: 1.0;
  margin: 0;
}

.area-select {
  background-color: white;
  border: 1px solid #003652;
  border-radius: 4px;
  font-size: 14px;
  height: 26px;
  margin: 40px 20px 10px;
  padding: 0 10px;
  width: 140px;
}

/* MOBILE LANDSCAPE */

@media (max-height: 500px) {
  .header {
    height: 48px;
  }

  .footer {
    height: 48px;
  }

  .login-page {
    margin-top: 30px;
  }

  .loading {
    margin-top: 30px;
  }

  .explore {
    margin-top: 90px;
  }

  .area-select {
    margin: 10px 20px;
  }
}

/* SAVED RECIPES PAGE */

.saved-cards {
  display: flex;
  width: 330px;
  height: 143px;
  margin: 10px;
  background-color: #fbf9ef;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.category-text {
  color: #a9a9a9;
  font-size: 15px;
}

.recipe-name {
  color: #003652;
  font-size: 21px;
}

.saved-cards-contend {
  display: flex;
  flex-direction: column;
}

.btns-div {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 24px;
}

.type-div {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.saved-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.done-content {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.done-card-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.done-name {
  position: relative;
  bottom: 8px;
  width: 100%;
}

.done-card-tag {
  background-color: #bdbdbd;
  display: flex;
  padding: 0 5px 0 5px;
  align-items: center;
  border-radius: 20px;
  margin-right: 10px;
}

.done-tags {
  margin: 10px;
  display: flex;
  width: 100%;
}

.filters-btn {
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  margin: 6px;
  padding: 5px 0;
  width: 100px;
}

/* GENERAL */

.list-none-style {
  list-style-type: none;
}

.no-margin {
  margin: 0;
}

.full-width {
  width: 100%;
}

.margin10p {
  margin: 6px;
}

.ruby-bg {
  background-color: #9b1c1c;
}

.ruby-text {
  color: #9b1c1c;
}

.ruby-filter {
  filter: invert(14%) sepia(74%) saturate(3505%) hue-rotate(351deg) brightness(88%) contrast(90%);
}

.blue-bg {
  background-color: #003652;
}

.blue-text {
  color: #003652;
}

.yellow-bg {
  background-color: #fcbf49;
}

.yellow-text {
  color: #fcbf49;
}

.icon-filter {
  filter: invert(79%) sepia(54%) saturate(627%) hue-rotate(334deg) brightness(101%) contrast(98%);
}

.cornsilk-bg {
  background-color: #f2eccf;
}

.cornsilk-text {
  color: #f2eccf;
}

.gray-bg {
  background-color: #bdbdbd;
}

.gray-text {
  color: #bdbdbd;
}

.line-through {
  text-decoration-line: line-through;
}

.margin-top-70p {
  margin-top: 70px;
}

.margin-top-10p {
  margin-top: 10px;
}

.margin-left-10p {
  margin-left: 10px;
}

.invisible-btn {
  background: transparent;
  border: none !important;
}
